doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Learning WebRTC - Chapter 7: File Sharing
    
    style.
      body {
        background-color: #404040;
      }
      .center {
        color: white;
        margin: auto;
        width: 50%;
        text-align: center;
      }
      a:visited {
        color: grey;
      }
  body
    .center
      h1 WebRTC Examples from Learning WebRTC 
        br 
        | By: Dan Ristic
        br
        br
        a(href="/file-share") file sharing example
        br
        br
        a(href="/video-chat") video chat with text chat example
        br
        br
        a(href="/photobooth") photobooth with filters example